body {
  margin: 0;
  padding: 0;
}

.mood {
  color: #e2c6cd;
  text-align: center;
  font-size: 3rem;
}

.song-title {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

.song-page {
  display: flex;
  text-align: center;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.song-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-weight: 600;
  padding: 20px;
}

.song-artist {
  color: #f1e7dd;
  transition: color 0.3s ease, transform 0.3s ease;
}

.song-title:hover,
.song-artist:hover {
  color: #f99db4;
  text-shadow: 0 0 10px rgba(249, 157, 180, 0.7);
  transform: scale(1.05);
}

.error {
  color: yellow;
  transition: color 0.3s ease, transform 0.3s ease;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#refresh {
  background: linear-gradient(135deg, #e2c6cd, #f99db4);
  padding: 10px 10px;
  width: 100px;
  height: 60px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #25283d;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#refresh:hover {
  background-color: #f99db4;
  transform: translateX(-20px) scale(1.05);
}

#refresh:active {
  transform: translateY(2px) translateX(-20px) scale(0.98);
  background-color: #f17a98;
}

#refresh:hover .dj-khaled-img {
  opacity: 1;
  transform: rotate(360deg);
}

.dj-khaled-img {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 110%;
  top: 10%;
}
